<div class="container-fluid bg-1 text-center" style="background-color:green;">   

		<p style="color: black; font-size:1cm;"><b>Chandrika Patel</b></p>
		<p style="color: black; font-size:0.8cm;"> 
            She is 53 years old and she is housewife and mostly do some part time work at home to spend times.
            She usually read newspaper and Novel in free time.
        </p>
		
	  </div>