<div class="container-fluid bg-1 text-center">

		<p style="color: black; font-size:1cm;"><b>Mansi Patel</b></p>
		<p style="color: black; font-size:0.8cm;"> She is my sister and she is currently live in USA and she completed GNEM Nurshing 
            from Ahmedabad, She is currently trying to pass NCLEX exam which entrance exam to become registered nurse. She likes to read books and spent time alone
            </p>
		
	  </div>