<div class="container-fluid bg-1 text-center" style="background-color:grey;">  

		<p style="color: black; font-size:1cm;"><b>Pankaj Patel</b></p>
		<p style="color: black; font-size:0.8cm;"> He is my father and he is currently Government teacher in Shree Mukta Jivan high 
            school. He teaches Economics and B.A in Gujrati language. He loves to play old music. </p>
		
	  </div>