<div class="container-fluid bg-1 text-center" style="background-color:yellow;">   

		<p style="color: black; font-size:1cm;"><b>Zeel Patel</b></p>
		<p style="color: black;font-size:0.8cm;"> I am currently student of Georgian college and Completed Diploma from Government
      Polytechnic Ahmedabad. I like to play Cricket and watching Web series online.</p>
		
	  </div>